body {
  margin: 0;
  display: flex;
}
.sgt {
  margin: 40px 40px;
  /* border: 1px dotted orange; */
}
.gradetable,
.header {
  width: 1000px;
}

.header {
  margin: 25px 0;
  display: flex;
  justify-content: space-between
}
.avgGradeMain {
  margin: auto 0;
}
.avgGradeContainer {
  display: flex;
  float: right;
}
.avgGradeLabel,
.gradeBox {
  margin: auto 10px;
}

table {
  width: 1000px;
  border-collapse: separate;
}
td, th {
  border: 1px solid rgb(100, 100, 145);
  text-align: left;
  padding: 8px;
  margin: 2px;
}
th {
  padding: 18px 8px;
  text-align: center;
  font-size: 24px;
}
thead tr, tr:nth-child(even) {
  background-color: rgb(188, 213, 238);
}
